@import "tailwindcss";

@theme {
  
  /* Colors */
  --color-primary: #d97706;
  --color-primary-light: #f7b733;
  --color-secondary: #92400e;
  --color-secondary-dark: #78350f;

  --color-surface-cream: #fff3d6;
  --color-surface-offwhite: #fffaf0;
  --color-surface-pale: #fef3c7;

  --color-text: #333333;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;

  /* Shadow */
  --shadow-md: 0 10px 30px rgba(0,0,0,0.05);
}
:root {
  --font-playfair: 'Playfair Display', serif;
  --font-inter: 'Inter', sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-inter {
  font-family: var(--font-inter);
}

@keyframes sunrise {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Minimal scrollbar */
.minimal-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #d6b17a transparent;
}

.minimal-scroll::-webkit-scrollbar {
  width: 6px;
}

.minimal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.minimal-scroll::-webkit-scrollbar-thumb {
  background-color: #d6b17a;
  border-radius: 999px;
}

.minimal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #b08948;
}
